[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

Recordings/

Assets/AssetStoreTools*

.vs/
.vscode/

.idea/

.gradle/

sysinfo.txt

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

*.apk
*.aab

.DS_Store
Thumbs.db